html,body,#app{
    height:100%;
    margin: 0px;
    padding: 0px;
}
.el-container {
    height: 100%;
  }
  
  .el-header,
  .el-footer {
    background-color: #c6e2ff;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #d9ecff;
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #ecf5ff;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  .el-menu {
    background-color: #d3dce6;
  }